.App{
  width: 50%;
  height: 50%;
  margin: auto;
  .greeting{
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .button{
    width: 50%;
    height: 50%;
    margin: auto;
  }
}

.hide{
  display: none !important; 
}

.full-width{
  height: 100vh !important;
}

.width-80{
  height: 80vh !important;
}