.App{
  width: 50%;
  height: 50%;
  margin: auto;
  .greeting{
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .button{
    width: 50%;
    height: 50%;
    margin: auto;
  }
}

.hide{
  display: none !important; 
}