.login-container{
  padding: 24px;
}
.login-form {
  max-width: 300px;
  padding: 24px;
  align-self: center;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.app-logo{
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}